{{ not a and b or c }}
{{ 0 < x <= 10 }}
{{ 'web' in group_names and x not in y }}
{{ x is not none and y is divisibleby 3 }}
{{ -x | abs }}{{ 2 ** 3 ** 2 }}{{ 7 // 2 % 3 * 4 / 5 - +1 }}
{{ not x is defined }}
